
/* RGB */
$color1: rgba(240, 64, 55, 1); // Red
$color2: rgba(88, 88, 91, 1); // Grey
$color3: rgba(255, 255, 255, 1); //White
$color4: rgba(0, 0, 0, 1); //Black
// off-white scheme color:
$offwhite: #FDFDF5;
